*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-image: url(/img/Background/food.png);
}
.container{
    background-color:white
}
/*----------header css----------*/
.carousel-item {
    margin-top: 0px;
    margin-left: 0px;
    /*height: 50vh;
    min-height: 350px;*/
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
header{
    background-color: #F5803E;
}
.index-logo figure img{
    width: 50% ;
    margin-top: 10px;
}

.index-login a{
    color: #F5803E;
    font-size: 15px;
    
}
.imguser{
    width: 10%;
    border-radius: 50%;
    color: white;
}
.saludouser{
    width: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px ;
    

}
.index-social-cart{
    margin-top: 20px;
}
.social a{
    color: white;
    font-size: 30px;
}
.shopping{
    margin-top: 10px;
    padding: 0;
}
.shopping i{
    font-size: 25px;
    color: white;
}
.shopping a{
    color: white;
    font-size: 20px;
    margin-left: 15px;
}
/*-----------Tarjetas y Redes Sociales ------*/
.fun{
    width: 100%;
    margin: .5rem;
}
  .gif{
    max-width: 500px;
}
  .fa-facebook, .fa-twitter, .fa-google-plus-g , .fa-instagram, .fa-youtube{
    font-size: 2rem;
    padding:.5rem;
  }
  .fa-cc-visa, .fa-cc-mastercard, .fa-cc-amex, .fa-cc-amazon-pay, .fa-cc-diners-club{
    font-size: 4.5rem;
    padding: .5rem;
  }
  .fa-facebook, .fa-cc-visa , .fa-cc-diners-club{
    color:#3b5998;
  }
  .fa-twitter, .fa-cc-mastercard{
    color:#00aced;
  }
  .fa-google-plus-g, .fa-cc-amazon-pay{
    color:#dd4b39;
  }
  .fa-instagram{
    color: #517fa4;
  }
  .fa-youtube{
    color:#bb0000;
  }
  .fa-facebook:hover,.fa-twitter:hover,.fa-google-plus-g:hover,.fa-instagram:hover,.fa-youtube:hover{
    color:lightgrey;
  }

/*----------nav-bar de boostrap-------------*/

.navbar{
    background-color:#FD9C65;
 }
 .navbar-toggler{
     background-color: white;
 }
 .lupa{
     color: white;
 }
 .admin-create a{
    color: #F5803E;
    font-size: 15px;
}
/*---------main css--------------*/

.main-titulo{
    color:#FD9C65;
    text-align: center;
    border-bottom: solid;
    font-weight: 700;
}
.main-tercer-titulo{
    color:#FD9C65; 
    text-align: center;
    border-bottom:#FD9C65;
    font-weight: 700;
}
main article{
    text-align: center;
    
    border-width: 1px;
    color:grey;
}
main article p{
 font-weight: bold;
}
main article a{
    color: white;
    font-size: 20px;
    margin: 0 10px;
}
.btn-primary{
    background-color: grey;
    border-color: white;
}
.btn-primary a{
    color: white;
}
.efecto:hover{
    opacity: 0.7;
}
/*---------css footer---------*/
.index-footer{
    margin-top: 20px;
}
.contacto{
    background-color: #FD9C65;
}
.contacto a{
    color: white;
    font-size: 20px;
}
.envios{
    background-color: #FD9C65;
}
.envios a{
    color: white;
    font-size: 20px;
}
.suscribite{
    background-color: #FD9C65;
}
.suscribite a{
    color: white;
    font-size: 20px;
}
.footer-pagos{
    color:#FD9C65;
    text-align: center;
    border-bottom: solid;
    margin-top: 0;
}
.footer-tarjetas ul{
    text-align: center;
    margin-top: 10px;
}
.footer-tarjetas i{
    font-size: 35px;
}





/*----------CSS 768PX---------------*/

@media(min-width: 768px){
  /*css header------------*/  
    .index-social-cart{
        margin-top: 0;
    }
    .social{
        text-align: end;
        margin: 0;
    }
    .shopping{
     text-align: end;
    }
    .carousel-item {
        height: 50vh;
        min-height: 350px;
    }
    .admin-create{
        margin-left: 60%;

    }
    .admin-create button{
        margin-bottom: 1px;

    }
    .admin-create a{
        color: #F5803E;
        font-size: 15px;
    }

  /*CSS MAIN----------------*/
  .main-titulo{
      text-align: left;
    }

    /*CSS FOOTER--------------*/
    .contacto{
    text-align: center;
    }
    .envios{
    text-align: center;
    }
    .suscribite{
    padding: 0;
    text-align: center;
    }
    .footer-tarjetas i{
    margin: 0 20px;
    }
}

/*---------------css 992px--------------*/    
@media(min-width: 992px){

    /*css header------------*/
    .shopping{
        margin-top: 20%;
    }
    .shopping a{
    margin-left: 20px;
    }
    .carousel-item {
        height: 50vh;
        min-height: 350px;
       }
    /*-css main----------*/

    main article ul a{
        font-size: 17px;
        margin: 0;
    }
    /*CSS-FOOTER--------------------*/
    .footer-tarjetas i{
        margin: 0 40px;
    }

}    
/*--------------css 1200px-----------*/

@media(min-width:1200px){
 /*css header------------*/  
    .shopping{
        margin-top: 22%;
    }
    .shopping i{
        font-size: 30px;
    }
    .shopping a{
        font-size: 22px;
        margin-left: 25px;
    }
    .carousel-item {
        height: 50vh;
        min-height: 350px;
       }
       .admin-create{
        margin-top: 15%;
        margin-left: 67%;

    }
 /*CSS FOOTER-------------*/   
    .index-footer{
        height: 20vh;
    }
    .index-footer section a{
        font-size: 25px;
    }
}

/*------------login----------*/

.form-login {
    margin-top: 65px;
}

.h3login {

    color: #F5803E;
}

.botonlogin {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 18em;
}

/*------------Contacto--------*/

.contacto2{
    list-style: none;
    color: #F5803E;
    background-color: white;
    
}

.contactovinculo{
     color: #F5803E;

}

.contactovinculonegro{
color: black;
margin-left: 10px;
}

.promomargin{
    margin-top: 80px;
    margin-bottom: 80px;
}

.promomarginB {
    margin-bottom:80px ;
    border-radius: 18em;
}

.promomargintop{
    margin-top: 30px;
}

.carritomargin {
    margin-top: 30px;
    margin-bottom: 30px;
}
.max__width{
    max-width: 35%;
}
.agregar-prod{
    color: white;
}