<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">

<!---------Comienza el nav--------------------->
<%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <article class="article maincontent">
                        <h1 class="h3login main-titulo">Preguntas Frecuentes</h1><br>
                        <h4 class="h3login">¿Cuál es el costo de envío?</h4>
                        <p>El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en
                            el momento previo a la compra.</p>
                        <h4 class="h3login">¿Dónde puedo recibir mi pedido?</h4>
                        <p>Realizamos envíos Capital Federal y Zona Sur.</p>
                        <h4 class="h3login">¿Todas las viandas son aptas para llevar al Freezer?</h4>
                        <p>Todas las viandas son aptas para freezar, salvo aquellas que vengan con guarnición de Hojas
                            Verdes. En el caso de los budines tanto dulces como salados pueden ser freezados. </p>
                        <h4 class="h3login">¿Qué debo hacer si el producto no llega en buen estado?</h4>
                        <p>Ponte en contacto con nosotros a info@ths.com.ar y te enviaremos uno nuevo. </p>

                    </article>

                </div>
            </div>
        </div>

        <!-------------Comienza el footer---------------------->
<%- include('../partials/footer') %>
<!--LIBRERIAS-->
<script src="bootstrap/js/jquery-3.5.1.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js">
</script>
</body>

</html>