<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!---fontawesome -->
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Prueba</title>
</head>
<body>
  <div class="container">
    <!-----Comienza Header nav-->
      <header class="encabezado">
        <section class="nav__top">
             <figure class="nav__top-logo">
                 <img src="/public/img/logo.PNG" alt="logo THS">
             </figure>
             <ul class="nav__login">
             <li><a class="nav__login-reg" href="/registro">Crear cuenta </a></li>
             <li> <a class="nav__login-ini" href="/login">Iniciar sesión</a></li>
            </ul>
            <ul class="nav__redes">
              <a class="nav__redes-f"href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="nav__redes-i"href="https://www.instagram.com"target="_blank"><i class="fab fa-instagram"></i></a>
       </ul>
      </section>
        <section class="nav__bottom">
          <div class="nav__bottom-left"></div>
          <ul class="nav__bottom-paginas">
          <li><a style="color:white" href="/Productos">Productos</a></li>
          <li><a href="/Viandas"></a>Viandas</li>
          <li><a href="/Nosotros"></a>Nosotros</li>
          <li><a href="/Preguntas"></a>Preguntas Frequentes</li>
          <li>Buscar <i class="fas fa-search"></i><input type="search"></li>
      </ul>
     </div>
          <div class="nav__bottom-right">
          <a class="nav__bottom-right-prod" href="/Productos">Productos $0 </a>
          <a class="nav__bottom-right-tot" href="/Total">Total $0<i class="fas fa-shopping-cart"></i></a>
   </div> 
  </section>  
 </header>     
</div> 
       <!----seccion de articulos dos tipos Productos y Mas vendidos -->    
   <div class="productos__principal">
       <h1 class="productos__titulo">Productos</h1>
        <section class="productos">
         <article class="productos__card">
          <figure>
          <img class="productos__imagen" src="/public/img/Harinas/harina-1.png" alt="Mezcla">
          </figure>
          <p class=" productos__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
          <p class ="productos__precio">$ 260.00</p>
          <input class="productos__boton" type="button" value="detalle" name="detalle">
          <span class="productos__carrito">
          <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
           <p class="productos__text">Comprar</p>   
          </article>
          
       <article class="productos__card">
        <figure>
        <img class="productos__imagen" src="/public/img/Granolas/granola-1.jpg" alt="Mezcla">
        </figure>
        <p class=" productos__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
        <p class ="productos__precio">$ 260.00</p>
        <input class="productos__boton" type="button" value="detalle" name="detalle">
        <span class="productos__carrito">
        <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
         <p class="productos__text">Comprar</p>   
        </article>
        
       <article class="productos__card">
        <figure>
        <img class="productos__imagen" src="/public/img/Frutos Secos/frutos-secos-1.jpg" alt="Mezcla">
        </figure>
        <p class=" productos__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
        <p class ="productos__precio">$ 260.00</p>
        <input class="productos__boton" type="button" value="detalle" name="detalle">
        <span class="productos__carrito">
        <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
         <p class="productos__text">Comprar</p>   
        </article>
        
       <article class="productos__card">
        <figure>
        <img class="productos__imagen" src="/public/img/Leches/leche-1.png" alt="Mezcla">
        </figure>
        <p class=" productos__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
        <p class ="productos__precio">$ 260.00</p>
        <input class="productos__boton" type="button" value="detalle" name="detalle">
        <span class="productos__carrito">
        <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
         <p class="productos__text">Comprar</p>   
        </article>
  </section>
</div> 
</div>
<!----la segunda seccion de Mas Vendidos-->

<div class="mas__principal">
  <h1 class="mas__titulo">Mas Vendidos</h1>
   <section class="mas">
    <article class="mas__card">
     <figure>
     <img class="mas__imagen" src="/public/img/Pastas-y-Arroz/pastas-1.jpg" alt="Mezcla">
     </figure>
     <p class=" productos__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
     <p class ="mas__precio">$ 260.00</p>
     <input class="mas__boton" type="button" value="detalle" name="detalle">
     <span class="mas__carrito">
     <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
      <p class="mas__text">Comprar</p>   
     </article>
     
  <article class="mas__card">
   <figure>
   <img class="mas__imagen" src="/public/img/Postres-Snack/postres-1.jpg" alt="Mezcla">
   </figure>
   <p class=" mas__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
   <p class ="mas__precio">$ 260.00</p>
   <input class="mas__boton" type="button" value="detalle" name="detalle">
   <span class="mas__carrito">
   <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
    <p class="mas__text">Comprar</p>   
   </article>
   
  <article class="mas__card">
   <figure>
   <img class="mas__imagen" src="/public/img/Frutos Secos/frutos-secos-10.jpg" alt="Mezcla">
   </figure>
   <p class=" mas__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
   <p class ="mas__precio">$ 260.00</p>
   <input class="mas__boton" type="button" value="detalle" name="detalle">
   <span class="mas__carrito">
   <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
    <p class="mas__text">Comprar</p>   
   </article>
   
  <article class="mas__card">
   <figure>
   <img class="mas__imagen" src="/public/img/Granolas/granola-2.jpg" alt="Mezcla">
   </figure>
   <p class=" mas__texto">Fussiolini zanahoria y gengibre x 500gr - Troncoso</p>
   <p class ="mas__precio">$ 260.00</p>
   <input class="mas__boton" type="button" value="detalle" name="detalle">
   <span class="mas__carrito">
   <i style = "color:rgb(228,178,178)" class="fas fa-shopping-cart"> </i></span>
    <p class="mas__text">Comprar</p>   
   </article>
</section>
</div> 
</div> 
<!----Aca comienza el footer-->
    <footer>
    <section class="footer__container">
        <article class="footer__nav">
          <ul>
           <a href="/contactos">Contactos</a>
            
            <a href="/envios">Envios</a>
            
             <a href="/suscripcion">Suscribite a las promos</a>
            
          </ul>
        </article>
        <section class="footer__bottom">
              <h1 class="footer__bottom__titulo">Metodos de Pago</h1>
        <article >
             <ul class="footer__mediosDePago">
             <i class="fab fa-cc-visa"></i>
             <i class="fab fa-cc-mastercard"></i>
             <i class="fab fa-cc-amex"></i>
             <i class="fab fa-cc-stripe"></i>
             <i class="fab fa-cc-paypal"></i>
             <i class="fab fa-cc-discovery"></i>
             <i class="fab fa-cc-jcb"></i>
             <i class="fab fa-cc-discover"></i>
             <i class="fab fa-cc-diners"></i>
             <i class="fab fa-cc-apple-pay"></i>
             <i class="fab fa-cc-amazon-pay"></i>
             <i class="fab fa-cc-jcb"></i>
             <i class="fab fa-cc-visa"></i>
            </ul>
         <article>  
        </section>    





        </article>




        </section>
    </footer>      
   
</body>
</html>