<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!---fontawesome -->
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Productos</title>
</head>
<body>
  <div class="container">
    <!-----Comienza Header nav-->
      <header class="encabezado">
        <section class="nav__top">
             <figure class="nav__top-logo">
                 <img src="/public/img/logo.PNG" alt="logo THS">
             </figure>
             <ul class="nav__login">
             <li><a class="nav__login-reg" href="/registro">Crear cuenta </a></li>
             <li> <a class="nav__login-ini" href="/login">Iniciar sesión</a></li>
            </ul>
            <ul class="nav__redes">
              <a class="nav__redes-f"href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="nav__redes-i"href="https://www.instagram.com"target="_blank"><i class="fab fa-instagram"></i></a>
       </ul>
      </section>
        <section class="nav__bottom">
          <div class="nav__bottom-left"></div>
          <ul class="nav__bottom-paginas">
          <li><a style="color:white" href="/Productos">Productos</a></li>
          <li><a href="/Viandas"></a>Viandas</li>
          <li><a href="/Nosotros"></a>Nosotros</li>
          <li><a href="/Preguntas"></a>Preguntas Frequentes</li>
          <li>Buscar <i class="fas fa-search"></i><input type="search"></li>
      </ul>
     </div>
          <div class="nav__bottom-right">
          <a class="nav__bottom-right-prod" href="/Productos">Productos $0 </a>
          <a class="nav__bottom-right-tot" href="/Total">Total $0<i class="fas fa-shopping-cart"></i></a>
   </div> 
  </section>  
 </header>     
</div> 
<!----seccion de articulos dos tipos Productos y Mas vendidos --> 
<section class="productos">
        h1.





</section>   
   
<!----Aca comienza el footer-->
    <footer>
    <section class="footer__container">
        <article class="footer__nav">
          <ul>
           <a href="/contactos">Contactos</a>
           <a href="/envios">Envios</a>
           <a href="/suscripcion">Suscribite a las promos</a>
         </article>
        </section>
       </footer>      
      </body>
</html>