<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>
<body>
    <div class="container">


<!---------Comienza el nav--------------------->
<%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container">
            <div class="row">
                <div class="contact-info-container col-xs-14 col-sm-14 col-md-7 col-lg-7 m-top">
                <!-- Elementos generados a partir del JSON -->
                <main id="items" class="col-sm-8 row"></main>
                <!-- Carrito -->

                    <h5 class=promomargintop>Datos de contacto</h5>
                    <form method="post">
                        <div class="row">
                            <div class="form-container col-xs-8 col-sm-8 col-md-8 col-lg-8 m-bottom-half">
                                <input type="text" class="form-control form-control-big" placeholder="Ingrese su email"
                                    name="email">
                        <p>¿Ya tenes cuenta? <a href="/login">Inicia Sesión</a>
                        </p>
                            </div>
                            <div
                                class="col-xs-2 col-sm-2 col-md-2 col-lg-2 p-relative p-none m-half-top-xs m-top">
                                <div class="btn-primary btn-circle">

                                </div>
                                <button type="button" class="btn btn-secondary promomarginB">Enviar</button>
                           
                            </div>
                        </div>
                        <hr class="col-md-10">
                        <h5>Datos de envío</h5>
                        <div class="container">
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label for="inputPassword4">Nombre</label>
                                    <input type="text" class="form-control" id="inputPassword4">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputPassword4">Apellido</label>
                                    <input type="password" class="form-control" id="inputPassword4">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Teléfono</label>
                                    <input type="text" class="form-control" id="inputPassword4">
                                </div>
                                <div class="form-group col-md-10">
                                    <label for="inputPassword4">Dirección</label>
                                    <input type="text" class="form-control" id="inputPassword4"
                                        placeholder="Calle, número, y piso">
                                </div>

                                <div class="form-group col-md-5">
                                    <label for="inputPassword4">Ciudad</label>
                                    <input type="text" class="form-control" id="inputPassword4">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputPassword4">Localidad</label>
                                    <input type="text" class="form-control" id="inputPassword4">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">C.P.</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            Recordarme
                                        </label>
                                    </div>
                                </div>
                                </div>
                        
                        <button type="submit" class="btn btn-secondary botonlogin ">Confirmar</button>
                    </form>
                </div>
                <div class="contact-form-container col-xs-10 col-sm-10 col-md-5 col-lg-5 m-top">
            
                
                    <h2 class="carritomargin main-titulo">Carrito de compras<i class="fas fa-shopping-cart contactovinculo"></i></i>
                    </h2>
                    <hr>
                    <img height="60px" width="60px" src="img/productos/Bebidas/Jugo-1.jpg" alt="">
                    <p>Jugo de manzana roja x 1 Litro - Pura Frutta</p>
                    <p>$340,00</p>
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                    <img height="60px" width="60px" src="img/productos/Endulzantes/endulzante-2.jpg"
                        alt="">
                    <p>Miel Organica liquida x 400grs - Las Quinas</p>
                    <p>$300,00</p>
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                    
                    
                    <h3 class="text-right">Total: <span id="total"></span>$640,00</h3>
                </aside>
            </div>
        </div>
        </div>
                <!-------------Comienza el footer---------------------->
 <%- include('./partials/footer') %>

 <!--LIBRERIAS-->
 <script src="bootstrap/js/jquery-3.5.1.js"></script>
 <script src="bootstrap/js/popper.min.js"></script>
 <script src="bootstrap/js/bootstrap.min.js">
 </script>
 </body>

 </html>