<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>
<body>
    <div class="container">


<!---------Comienza el nav--------------------->
<%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <article class="article maincontent">
                        <h1 class="h3login promomargintop main-titulo">Envíos <i class="fas fa-truck"></i></h1>
                       
                        <h3>¡Hacemos envíos a todo el pais!</h3>
                        <p>Al finalizar tu compra, colocando tu código postal, vas a poder ver el costo del mismo.</p>
                        <p class="promomarginB">¡Para CABA y GBA, con tu compra mayor a $2000 el envío es gratis!<i
                                class="fas fa-gift"></i></p>
                    </article>

                </div>
                <!-------------Comienza el footer---------------------->
                <%- include('./partials/footer') %>
                <!--LIBRERIAS-->
                <script src="bootstrap/js/jquery-3.5.1.js"></script>
                <script src="bootstrap/js/popper.min.js"></script>
                <script src="bootstrap/js/bootstrap.min.js">
                </script>
                </body>

                </html>