<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>
<body>
    <div class="container">

<!---------Comienza el nav--------------------->
<%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8">
                    <article class="article maincontent">
                        <h1 class="h3login">¿Quiénes somos?</h1>
                        <p>Somos Ronnie, Fede y Lu, tres estudiantes de programación que decidieron empezar un proyecto
                            propio a partir de sus nuevos conocimientos.</p>
                        <p>Decidimos reunir en un solo lugar todos los alimentos o ingredientes necesarios para llevar
                            una vida más saludable y asi contrubuir a una cambio positivo en la sociedad.</p>
                    </article>

                </div>

                <!-------------Comienza el footer---------------------->
 <%- include('./partials/footer') %>

            <!--LIBRERIAS-->
            <script src="bootstrap/js/jquery-3.5.1.js"></script>
            <script src="bootstrap/js/popper.min.js"></script>
            <script src="bootstrap/js/bootstrap.min.js">
            </script>
</body>

</html>