<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>
<body>
    <div class="container">

<!---------Comienza el nav--------------------->
<%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <main class="row">
            <h2 class="col-sm-12 col-md-12 col-lg-12 main-titulo">Aceites</h2>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-10.jpg" alt="">
                <h4>Vinagre de Manzana orgánico 300grs - Pampa Gourmet</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/Aceite-coco-1.jpg" alt="">
                <h4>Aceite de Coco virgen Organico x 225cc - Oh Yeah Its Vegan</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-coco-2.jpg" alt="">
                <h4>Aceite de coco puro virgen x 225 ml - God Bless You</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-9.jpg" alt="">
                <h4>Aceite de Oliva Agroecológico x 250cc - Esquina de Las flores</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-4.jpg" alt="">
                <h4>Aceto balsamico x 250cc - Anahata</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>

            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-6.jpg" alt="">
                <h4>Vinagre de vino blanco orgánico x 500cc - Anahata</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-7.jpg" alt="">
                <h4>Vinagre de vino tinto orgánico x 500cc - Anahata</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/aceite-8.jpg" alt="">
                <h4>Aceite de oliva x 2L orgánico extra virgen - San Nicolas</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                    </a></button>
                </ul>
            </article>
        </main>


        <!-------------Comienza el footer---------------------->
        <%- include('./partials/footer') %>
 <!--LIBRERIAS-->
 <script src="bootstrap/js/jquery-3.5.1.js"></script>
 <script src="bootstrap/js/popper.min.js"></script>
 <script src="bootstrap/js/bootstrap.min.js">
     </script>
</body>

</html>