<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--fontawesome-->
    <link rel="stylesheet" href="/public/fontawesome/css/all.min.css">
    <!--Boostrap-->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <!--Mi css-->
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Contacto</title>
</head>

<body>
    <div class="container">
        <!-----------------COMIENZA HEADER------------------------------------------->

        <header class="row">
            <section class="col-sm-12 col-md-3 col-lg-3 index-logo">
                <figure>
                   <a href="index.html"><img src="/public/img/Logo/LOGO-CORTADO.png" alt="logo"></a> 
                </figure>
            </section>
            <section class="col-sm-12 col-md-5 col-lg-5 index-login p-0">
                <button type="button" class="btn btn-light"><a href="registro.html"><i class="fas fa-user-plus"></i> Crear
                        cuenta</a></button>
                <button type="button" class="btn btn-light"><a href="login.html"><i class="fas fa-sign-in-alt"></i> Iniciar
                        Sesion</a></button>
            </section>
            <section class="col-sm-12 col-md-4 col-lg-4 index-social-cart">
                <section class="social">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/login">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com.co/">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="https://www.youtube.com/">
                        <i class="fab fa-youtube"></i>
                    </a>
                </section>
                <section class="shopping">
                    <i class="fas fa-cart-arrow-down"></i>
                    <a href="ACA-PAGINA-CARRITO">Productos:</a>
                    <a href="">Total: $</a>
                </section>
            </section>
        </header>

        <!---------Comienza el nav--------------------->
        <div class="row">
            <div class="col p-0">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Productos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="categoria-productos.html">Aceites</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Bebidas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Endulzantes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Frutos Secos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Granolas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Harinas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Leches</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Pastas y arroz</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Postres y Snacks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Viandas</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="preguntasfrec.html">Preguntas frecuentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">Nosotros</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn my-2 my-sm-0" type="submit">
                                <i class="fas fa-search lupa"></i>
                            </button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <!---------Comienza el main------------------------>
        <br><br>

        <h2 class="contactovinculo">Contacto</h2><br>
        <div class="row">
            <div class="contact-info-container col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top">
                <ul class='contacto2' class="contact-information list-style-none row m-top">
                    <li class='contacto2' class="m-bottom-half container-fluid">



                        <h5 class="pull-left d-flex m-top-quarter">
                            <i class="fas fa-mobile-alt"><a href="tel:+54 9 11 27857606" class="contactovinculonegro"
                                    class="text-wrap"></i>+54 9 11 27857606</a>
                        </h5>
                    </li><br>
                    <li class='contacto2' class="m-bottom-half text-wrap container-fluid">

                        <h5 class="pull-left d-flex m-top-quarter"><i class="fas fa-envelope-open-text"
                                class="contactovinculo"></i>
                            <a href="mailto:info@ths.com.ar" class="contactovinculonegro">info@ths.com.ar</a>
                        </h5>
                    </li><br>
                    <li class='contacto2' class="m-bottom-half container-fluid">

                        <h5 class="pull-left d-flex m-top-quarter">
                            <i class="fas fa-map-marker-alt" class="contactovinculo"></i>
                            <a target="_blank" class="contactovinculonegro"
                                href=" http://maps.google.com/?q=calle falsa 123" class="text-wrap">Calle Falsa
                                123</a>
                        </h5>
                    </li>
                </ul>
                <h4 class="m-bottom border-top p-top">Seguinos</h4>
                <ul class="social-networks list-style-none m-left-none m-top-half">
                    <li class="facebook m-bottom-half d-inline-block m-right-half">
                        <a href="https://www.facebook.com" class="contactovinculo">
                            <i class="fab fa-facebook"></i>
                        </a>

                    </li>
                    <li class="instagram m-bottom-half d-inline-block m-right-half">
                        <a href="https://www.instagram.com/" class="contactovinculo">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://twitter.com/login" class="contactovinculo">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.google.com.co/" class="contactovinculo">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="https://www.youtube.com/" class="contactovinculo">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="contact-form-container col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top">
                <div id="contact-form" class="m-bottom">

                    <form method="post">
                        <input type="hidden" value="" name="product">
                        <input type="hidden" name="type" value="contact">
                        <div class="form-group">
                            <input type="text" autocorrect="off" autocomplete="name" id="name" class="form-control "
                                name="name">
                            <label for="name">Nombre</label>
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" autocapitalize="off" autocorrect="off" autocomplete="email"
                                class="form-control ">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group" style="display:none;">
                            <input id="winnie-pooh" type="text" class="form-control" name="winnie-pooh">
                            <label for="winnie-pooh">No completar este campo</label>
                        </div>
                        <div class="form-group">
                            <input id="phone" type="tel" autocorrect="off" autocomplete="tel" class="form-control">
                            <label for="phone">
                                Teléfono
                                <span class="mini-text">(Opcional)</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea id="message" name="message" class="form-control" cols="20" rows="5"></textarea>
                            <label for="message">
                                Mensaje

                            </label>
                        </div>
                        <input type="hidden" value="contact" name="type">
                        <div class="row">
                            <div class="container-fluid">
                                <input type="submit"
                                    class="btn btn-secondary col-xs-12 col-sm-12 col-md-5 col-lg-5 pull-right"
                                    value="Enviar" name="contact">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-------------Comienza el footer---------------------->
        <footer class="row index-footer">
            <section class="col-sm-4 col-md-4 contacto"><a href="contacto.html">Contacto <i
                        class="fas fa-address-card"></i></a>
            </section>
            <section class="col-sm-4 col-md-4 envios"><a href="envios.html">Envios <i
                        class="fas fa-shipping-fast"></i></a>
            </section>
            <section class="col-sm-4 suscribite"><a href="promos.html">Suscribite a las promos <i
                        class="fas fa-tag"></i></a>
            </section>

            <section class="col-sm-12 footer-pagos">
                <h2>Medios de pagos</h2>
            </section>
            <section class="col-sm-12 footer-tarjetas">
                <ul class="fun">
                    <i class="fab fa-cc-visa"></i>
                    <i class="far fa-credit-card"></i>
                    <i class="fab fa-cc-amazon-pay"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-jcb"></i>
                </ul>
            </section>
        </footer>
    </div>

    <!--LIBRERIAS-->
    <script src="/public/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/public/bootstrap/js/popper.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js">
    </script>
</body>

</html>