<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>
<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <br><br>

        <h2 class="contactovinculo">Contacto</h2><br>
        <div class="row">
            <div class="contact-info-container col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top">
                <ul class='contacto2' class="contact-information list-style-none row m-top">
                    <li class='contacto2' class="m-bottom-half container-fluid">



                        <h5 class="pull-left d-flex m-top-quarter">
                            <i class="fas fa-mobile-alt"><a href="tel:+54 9 11 27857606" class="contactovinculonegro"
                                    class="text-wrap"></i>+54 9 11 27857606</a>
                        </h5>
                    </li><br>
                    <li class='contacto2' class="m-bottom-half text-wrap container-fluid">

                        <h5 class="pull-left d-flex m-top-quarter"><i class="fas fa-envelope-open-text"
                                class="contactovinculo"></i>
                            <a href="mailto:info@ths.com.ar" class="contactovinculonegro">info@ths.com.ar</a>
                        </h5>
                    </li><br>
                    <li class='contacto2' class="m-bottom-half container-fluid">

                        <h5 class="pull-left d-flex m-top-quarter">
                            <i class="fas fa-map-marker-alt" class="contactovinculo"></i>
                            <a target="_blank" class="contactovinculonegro"
                                href=" http://maps.google.com/?q=calle falsa 123" class="text-wrap">Calle Falsa
                                123</a>
                        </h5>
                    </li>
                </ul>
                <h4 class="m-bottom border-top p-top">Seguinos</h4>
                <ul class="social-networks list-style-none m-left-none m-top-half">
                    <li class="facebook m-bottom-half d-inline-block m-right-half">
                        <a href="https://www.facebook.com" class="contactovinculo">
                            <i class="fab fa-facebook"></i>
                        </a>

                    </li>
                    <li class="instagram m-bottom-half d-inline-block m-right-half">
                        <a href="https://www.instagram.com/" class="contactovinculo">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://twitter.com/login" class="contactovinculo">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.google.com.co/" class="contactovinculo">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="https://www.youtube.com/" class="contactovinculo">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="contact-form-container col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top">
                <div id="contact-form" class="m-bottom">

                    <form method="post">
                        <input type="hidden" value="" name="product">
                        <input type="hidden" name="type" value="contact">
                        <div class="form-group">
                            <input type="text" autocorrect="off" autocomplete="name" id="name" class="form-control "
                                name="name">
                            <label for="name">Nombre</label>
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" autocapitalize="off" autocorrect="off" autocomplete="email"
                                class="form-control ">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group" style="display:none;">
                            <input id="winnie-pooh" type="text" class="form-control" name="winnie-pooh">
                            <label for="winnie-pooh">No completar este campo</label>
                        </div>
                        <div class="form-group">
                            <input id="phone" type="tel" autocorrect="off" autocomplete="tel" class="form-control">
                            <label for="phone">
                                Teléfono
                                <span class="mini-text">(Opcional)</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <textarea id="message" name="message" class="form-control" cols="20" rows="5"></textarea>
                            <label for="message">
                                Mensaje

                            </label>
                        </div>
                        <input type="hidden" value="contact" name="type">
                        <div class="row">
                            <div class="container-fluid">
                                <button type="submit" class="btn btn-secondary botonlogin">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-------------Comienza el footer---------------------->
 <%- include('./partials/footer') %>
    <!--LIBRERIAS-->
    <script src="bootstrap/js/jquery-3.5.1.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js">
    </script>
</body>

</html>