<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <br>
        <h3 class="contactovinculo">Administrar Productos</h3>
        <br>

        <button type="button" class="btn btn-secondary justify-content-end botonlogin "><a class="agregar-prod" href="/formproducto">Agregar
            Producto <i class="fas fa-plus-circle"></i></a></button><br><br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Miel de abejas 125ml</td>
                    <td>Otros</td>
                    <td>32</td>
                    <td>250</td>
                    <td><i class="fas fa-pencil-alt"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Granola Fruit 500gr</td>
                    <td>Granolas</td>
                    <td>15</td>
                    <td>150</td>
                    <td><i class="fas fa-pencil-alt"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Pastas Troncoso 500gr</td>
                    <td>Pastas</td>
                    <td>10</td>
                    <td>180</td>
                    <td><i class="fas fa-pencil-alt"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
        <!-------------Comienza el footer---------------------->
        <%- include('./partials/footer') %>
        <!--LIBRERIAS-->
        <script src="bootstrap/js/jquery-3.5.1.js"></script>
        <script src="bootstrap/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js">
        </script>
</body>

</html>