<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--fontawesome-->
    <link rel="stylesheet" href="/public/fontawesome/css/all.min.css">
    <!--Boostrap-->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <!--Mi css-->
    <link rel="stylesheet" href="/public/css/main.css">
    <title>THE HEALTHY-STORE</title>
</head>

<body>
    <div class="container">
        <!-----------------COMIENZA HEADER------------------------------------------->

        <header class="row">
            <section class="col-sm-12 col-md-3 col-lg-3 index-logo">
                <figure>
                   <a href="index.html"><img src="/public/img/Logo/LOGO-CORTADO.png" alt="logo"></a> 
                </figure>
            </section>
            <section class="col-sm-12 col-md-5 col-lg-5 index-login p-0">
                <button type="button" class="btn btn-light"><a href="registro.html"><i class="fas fa-user-plus"></i> Crear
                        cuenta</a></button>
                <button type="button" class="btn btn-light"><a href="login.html"><i class="fas fa-sign-in-alt"></i> Iniciar
                        Sesion</a></button>
            </section>
            <section class="col-sm-12 col-md-4 col-lg-4 index-social-cart">
                <section class="social">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/login">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com.co/">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="https://www.youtube.com/">
                        <i class="fab fa-youtube"></i>
                    </a>
                </section>
                <section class="shopping">
                    <i class="fas fa-cart-arrow-down"></i>
                    <a href="ACA-PAGINA-CARRITO">Productos:</a>
                    <a href="">Total: $</a>
                </section>
            </section>
        </header>

        <!---------Comienza el nav--------------------->
        <div class="row">
            <div class="col p-0">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Productos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="categoria-productos.html">Aceites</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Bebidas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Endulzantes</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Frutos Secos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Granolas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Harinas</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Leches</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Pastas y arroz</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Postres y Snacks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="categoria-productos.html">Viandas</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="preguntasfrec.html">Preguntas frecuentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">Nosotros</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn my-2 my-sm-0" type="submit">
                                <i class="fas fa-search lupa"></i>
                            </button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <!---------Comienza el main------------------------>


        <main class="row">
            <h2 class="col-sm-12 col-md-12 col-lg-12 main-titulo">Productos</h2>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="/public/img/productos/Aceites/Aceite-coco-1.jpg" alt="">
                <h4>Aceite de Coco orgánico 300grs - Pampa Gourmet</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Bebidas/Jugo-1.jpg" alt="">
                <h4>Jugo de manzana roja x 1 Litro - Pura Frutta</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Endulzantes/endulzante-2.jpg" alt="">
                <h4>Miel Organica liquida x 400grs - Las Quinas</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Frutos Secos/frutos-secos-1.jpg" alt="">
                <h4>Mix de Frutas Secas (Sin mani)</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <a href="" class="col-sm-12 col-lg-12 main-segundo-titulo">Ver todos los productos</a>
            <h2 class="col-sm-12 col-lg-12 main-tercer-titulo">Mas vendidos</h2>

            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Granolas/granola-1.jpg" alt="">
                <h4>Granola desayuno integral Organica x400grs - Schatzi</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>

            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Harinas/harina-1.png" alt="">
                <h4>Fecula de Mandioca sin tacc x 1kg - Natuzen</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Leches/leche-1.png" alt="">
                <h4>Leche de almendra - Original - Tratenfu - 1 Litro</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="../../public/img/productos/Pastas-y-Arroz/pastas-1.jpg" alt="">
                <h4>Pastas de Quinoa 250grs - Wakas</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="detalle-producto.html">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="ACA-VA-CARRITO"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                    </a></button>
                </ul>
            </article>
        </main>

        <!-------------Comienza el footer---------------------->
        <footer class="row index-footer">
            <section class="col-sm-4 col-md-4 contacto"><a href="contacto.html">Contacto <i class="fas fa-address-card"></i></a>
            </section>
            <section class="col-sm-4 col-md-4 envios"><a href="envios.html">Envios <i class="fas fa-shipping-fast"></i></a>
            </section>
            <section class="col-sm-4 suscribite"><a href="promos.html">Suscribite a las promos <i class="fas fa-tag"></i></a>
            </section>

            <section class="col-sm-12 footer-pagos">
                <h2>Medios de pagos</h2>
            </section>
            <section class="col-sm-12 footer-tarjetas">
                <ul class="fun">
                    <i class="fab fa-cc-visa"></i>
                    <i class="far fa-credit-card"></i>
                    <i class="fab fa-cc-amazon-pay"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-jcb"></i>
                </ul>
            </section>
        </footer>
    </div>
 <!--LIBRERIAS-->
    <script src="/public/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/public/bootstrap/js/popper.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js">
        </script>
</body>

</html>