<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header.ejs') %>
<body>
    <div class="container">

<!---------Comienza el nav--------------------->
<%- include('./partials/navbar.ejs') %>
<!---------Comienza el main------------------------>


        <main class="row">
            <h2 class="col-sm-12 col-md-12 col-lg-12 main-titulo">Productos</h2>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Aceites/Aceite-coco-1.jpg" alt="">
                <h4>Aceite de Coco orgánico 300grs - Pampa Gourmet</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Bebidas/Jugo-1.jpg" alt="">
                <h4>Jugo de manzana roja x 1 Litro - Pura Frutta</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Endulzantes/endulzante-2.jpg" alt="">
                <h4>Miel Organica liquida x 400grs - Las Quinas</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Frutos Secos/frutos-secos-1.jpg" alt="">
                <h4>Mix de Frutas Secas (Sin mani)</h4>
                <p>$340,00</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
 
            <h2 class="col-sm-12 col-lg-12 main-titulo">Mas vendidos</h2>

            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Granolas/granola-1.jpg" alt="">
                <h4>Granola desayuno integral Organica x400grs - Schatzi</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>

            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Harinas/harina-1.png" alt="">
                <h4>Fecula de Mandioca sin tacc x 1kg - Natuzen</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Leches/leche-1.png" alt="">
                <h4>Leche de almendra - Original - Tratenfu - 1 Litro</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                </ul>
            </article>
            <article class="col-sm-12 col-md-6 col-lg-3">
                <img width="50%" src="img/productos/Pastas-y-Arroz/pastas-1.jpg" alt="">
                <h4>Pastas de Quinoa 250grs - Wakas</h4>
                <p>$250</p>
                <ul>
                    <button type="button" class="btn btn-primary"><a href="/detalle-producto">Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                    </a></button>
                </ul>
            </article>
        </main>

        <!-------------Comienza el footer---------------------->
          <%- include('./partials/footer.ejs') %>
          <!--LIBRERIAS-->
          <script src="bootstrap/js/jquery-3.5.1.js"></script>
          <script src="bootstrap/js/popper.min.js"></script>
          <script src="bootstrap/js/bootstrap.min.js">
          </script>
          </body>

          </html>