<!DOCTYPE html>
<html lang="es">

<%- include('./partials/header') %>
<body>
    <div class="container">


<!---------Comienza el nav--------------------->
<%- include('./partials/navbar') %>
        <!---------Comienza el main------------------------>
        <h1 class="h3login main-titulo">Crear Cuenta</h1>
        <form class="form-login" action="/registro" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="name" class="form-control" id="nameimput" aria-describedby="namehelp">
                <small id="nameHelp" class="form-text text-muted"></small>
            </div>
            <form>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputtelefono">Teléfono</label>
                    <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" required="required"> Acepto los <a href="#">Términos y
                            condiciones</a> y las <a href="#">Políticas de Privacidad.</a></label>
                </div>

                
                    
                    <button type="submit" class="btn btn-secondary botonlogin">Crear Cuenta</button>
                
            </form>
        </form>

        <!-------------Comienza el footer---------------------->
       <%- include('./partials/footer') %>
       <!--LIBRERIAS-->
       <script src="bootstrap/js/jquery-3.5.1.js"></script>
       <script src="bootstrap/js/popper.min.js"></script>
       <script src="bootstrap/js/bootstrap.min.js">
       </script>
       </body>