 <footer class="row index-footer">
     <section class="col-sm-4 col-md-4 contacto"><a href="/contacto">Contacto <i
                 class="fas fa-address-card"></i></a>
     </section>
     <section class="col-sm-4 col-md-4 envios"><a href="/envios">Envios <i class="fas fa-shipping-fast"></i></a>
     </section>
     <section class="col-sm-4 suscribite"><a href="/promos">Suscribite a las promos <i class="fas fa-tag"></i></a>
     </section>

     <section class="col-sm-12 footer-pagos">
         <h2>Medios de pago</h2>
     </section>
     <section class="col-sm-12 footer-tarjetas">
         <ul class="fun">
             <i class="fab fa-cc-visa"></i>
             <i class="far fa-credit-card"></i>
             <i class="fab fa-cc-amazon-pay"></i>
             <i class="fab fa-cc-amex"></i>
             <i class="fab fa-cc-mastercard"></i>
             <i class="fab fa-cc-jcb"></i>
         </ul>
     </section>
 </footer>
 </div>
