<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--fontawesome-->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <!--Boostrap-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!--Mi css-->
    <link rel="stylesheet" href="/css/main.css">
    <title>The Healthy Store</title>
</head>


  
