<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
    </div>


    <!-------------Comienza el footer---------------------->
    <%- include('../partials/footer') %>
    <!--LIBRERIAS-->
    <script src="/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js">
    </script>
</body>