<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>
<body>
    <div class="container">


<!---------Comienza el nav--------------------->
<%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container">
            <h1 class="my-4 main-titulo "><%= detalleSeleccionados.nombre %> </h1>
            <div class="row">
                <div class="col-md-8">
                    <img class="img-fluid" src="/img/productos/Aceites/Aceite-coco-1.jpg" alt="aceite de coco">
                </div>

                <div class="col-md-4">
                    <h3 class="my-3">Descripción</h3>
                    <p>Contenido: 300gr - Origen: Australia</p>
                    <h3 class="my-3">Propiedades</h3>
                    <p>El aceite de coco, cuenta con multiples beneficios, tanto para el pelo, la piel y la salud. Es considerado un súper alimento por sus grandes propiedades medicinales</p>
                    <h3 class="my-3">Cualidades</h3>
                    <ul>
                        <li>Usos Culinarios</li>
                        <li>Composición</li>
                        <li>Nutrientes </li>
                        <li>Calorias</li>
                        
                    </ul>

                    <h4>Precio: $ 340</h4>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon1">Cantidad</button>
                        </div>
                        <input type="number" class="form-control max__width" placeholder="Cantidad" aria-label="Example text with button addon" aria-describedby="button-addon3">
                      </div>    
                     <div class="input-group mb-3"> 
                     <div class="input-group-prepend">     
                        <button type="button" class="btn btn-primary"><a href="/carrito"><i class="fas fa-cart-plus"></i> Comprar
                        </a></button>
                    </div>
                </div>
                </div>

            </div>
            <!-- /.row -->

            <!-- Related Projects Row -->
            <h3 class="my-4">Productos Similares</h3>

            <div class="row">

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="/categoriaProductos">
                        <img class="img-fluid" src="/img/productos/Aceites/aceite-4.jpg"
                            alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="/categoriaProductos">
                        <img class="img-fluid" src="/img/productos/Aceites/aceite-8.jpg"
                        alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="/categoriaProductos">
                        <img class="img-fluid" src="/img/productos/Aceites/aceite-6.jpg" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="/categoriaProductos">
                        <img class="img-fluid" src="/img/productos/Aceites/aceite-9.jpg"
                        alt="">
                    </a>
                </div>
            </div>
        </div>

      <!-------------Comienza el footer---------------------->
      <%- include('../partials/footer') %>
      <!--LIBRERIAS-->
      <script src="bootstrap/js/jquery-3.5.1.js"></script>
      <script src="bootstrap/js/popper.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js">
      </script>
      </body>

      </html>